<header class="header">
  <a href="#" class="logo">QUE<span class="logo__highlight">Ry</span></a>

  <ul class="navbar">
      <li><a href="#" class="navbar__link" routerLink="/home">Home</a></li>
      <li><a href="#" class="navbar__link" routerLink="/about">About</a></li>
      <li><a href="#" class="navbar__link" routerLink="/contact">Contact</a></li>
  </ul>

  <div class="h-right">
      <a href="#" class="h-right__link">Follow us</a>
      <a href="#" class="h-right__link"><i class="ri-instagram-fill fa-users-class"></i></a>
      <a href="#" class="h-right__link"><i class="ri-twitter-fill fa-users-class"></i></a>
      <a href="#" class="h-right__link"><i class="ri-facebook-fill fa-users-class"></i></a>
      <div id="menu-icon" class="bx bx-menu"></div>
  </div>
</header>
