<header class="header" *ngIf="isMenuVisible">
  <a routerLink="/home" class="logo">QUE<span class="logo__highlight">Ry</span></a>

  <ul class="navbar">
      <li><a href="#" class="navbar__link" routerLink="/home">Home</a></li>
      <li><a href="#" class="navbar__link" routerLink="/about">About</a></li>
      <li><a href="#" class="navbar__link" routerLink="/contact">Contact</a></li>
      <li><a href="#" *ngIf="isAdmin" class="navbar__link" routerLink="/user">Users</a></li>
      <li><a href="#" *ngIf="isAdmin" class="navbar__link" routerLink="/product">Products</a></li>
  </ul>

  <div class="h-right">
      <a href="#" class="h-right__link">Follow us</a>
      <a href="#" class="h-right__link"><i class="ri-instagram-fill fa-users-class"></i></a>
      <a href="#" class="h-right__link"><i class="ri-twitter-fill fa-users-class"></i></a>
      <a href="#" class="h-right__link"><i class="ri-facebook-fill fa-users-class"></i></a>
      
      <li><a href="#" class="navbar__link" (click)="Logout()" *ngIf="tokenExist">Logout</a></li>
      <li><a href="#" class="navbar__link" routerLink="/login" *ngIf="!tokenExist">Login</a></li>
      <div id="menu-icon" class="bx bx-menu"></div>
  </div>
</header>
