<!-- HOME SECTION -->
<section class="home">
  <div class="home-text">
      <h5>Let's travel</h5>
      <h1>Planning your <br> own travel</h1>
      <p>Indonesia, a Southeast Aisn nation made up of thousans of volcanic islands, is home to hundreds of ethnic groups speaking</p>
      <a href="#" class="btn">Book a trip</a>
  </div>
</section>

<!-- <button (click)="functionClick('click here')">Click me</button>
<br>
<input [disabled]="isDisabled" #txt (change)="functionClick(txt.value)">
<br>
<input [(ngModel)]="name"> -->
